<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <!-- TODO: img -->
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quaerat itaque rem. Quidem, ipsum maiores? Magni repellendus nisi, voluptas voluptatum pariatur ipsa quibusdam consequuntur aliquid molestias placeat, accusantium, voluptatem nobis.</p>
                <a href="#" class="btn btn-primary">Detalle</a>
            </div>

        </div>
    </div>
</div>